* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.main-menu-list li {
  padding: 15px 30px;
}

.main-menu-list li:hover,
.main-menu-list li.on {
  background-color: #ddd;
}

.sub-menu-wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  background-color: dodgerblue;
  transition: max-height 300ms ease-in-out;
}

.sub-menu-wrapper.active {
  max-height: 205px;
}

.sub-manu {
  display: flex;
  justify-content: space-between;
}

.sub-menu-list li {
  padding: 15px 30px;
}

.sub-menu-list li:hover {
  background-color: #ddd;
}

.sub-menu-list li a {
  color: #fff;
}