* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.logo {
  width: 250px;
  margin: 30px auto;
}

.logo img {
  width: 100%;
}

section {
  max-width: 468px;
  margin: 0 auto;
}

.user-info {
  position: relative;
  margin: 10px;
}

.user-info input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.user-id .inputbox div {
  position: absolute;
  top: 50%;
  right: 10px;
}