* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.sm-hidden {
  display: none;
}

.lm-only {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color:  rgb(255, 204, 0);
}

.gnb-icon-btn {
  font-size: 30px;
  color: rgb(222, 0, 0);
}

.logo img {
  width: 100px;
}

.input-box i {
  font-size: 30px;
}

.lnb-list {
  display: flex;
  padding: 15px;
}

.lnb-item {
  padding: 0 10px;

}

.lnb-item a {
  color: #000;
  font-weight: 700;
}

.background {
  height: 400px;
  background-image: url('./images/lego.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}