* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.sm-hidden {
  display: none;
}

.lg-only {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color:  rgb(255, 204, 0);
}

.gnb-icon-btn {
  font-size: 30px;
  color: rgb(222, 0, 0);
}

.logo img {
  width: 100px;
}

.input-box i {
  font-size: 30px;
}

.lnb-list {
  display: flex;
  padding: 15px;
}

.lnb-item {
  padding: 0 10px;

}

.lnb-item a {
  color: #000;
  font-weight: 700;
}

.background {
  height: 400px;
  background-image: url('./images/lego.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 200px;
  height: 100vh;
  padding: 70px 20px 0 20px;
  background: #fff;
  transform: translateX(-250px);
  transition: transform 300ms ease-in-out;
}

.sidebar.is-active {
  transform: translateX(0);
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-info img {
  width: 40px;
  margin-right: 5px;
}

hr {
  margin: 15px 0;
  opacity: .3;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title i:first-child {
  font-size: 23px;
}

.title h3 {
  flex-grow: 1;
  padding-left: 10px;
  color: #333;
}

.list {
  display: none;
}

.list.is-active {
  display: block;
}

.list li {
  margin: 10px 0;
}

.list li a {
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(63, 65, 80,.5);
  transition: all 300ms ease-in-out;
}

.overlay.is-active {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .sm-only {
    display: none
  }
  
  .sm-hidden {
    display: flex;
  }
  
  nav {
    padding: 5px 20px;
  }
  
  .logo img {
    width: 130px;
  }

  .gnb-list {
    flex-grow: 1;
    margin-left: 30px;
  }

  .gnb-item a {
    padding: 10px;
    font-weight: 700;
    color: #000;
  }

  .input-box {
    margin-right: 30px;
  }

  .user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
  }

  .user-img img {
    width: 40px;
    border-radius: 50%;
  }

  .user-menu div a {
    font-size: 30px;
    color: #000;
  }

  .background {
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .input-box {
    position: relative;
    width: 120px;
    margin-right: 50px;
  }
  
  .lg-only {
    display: block;
  }

  .input-box input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px 0 5px 30px;
    font-size: 14px;
  }

  .input-box i {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #bbb;
  }
 
  .md-only {
    display: none;
  }

  .user-menu {
    width: 200px;
  }

  .background {
    height: 600px;
  }
}