.wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 36px;
}

.header {
  height: 100px;
  background-color: aquamarine;
}

/* left-box, right-box를 하나의 box라는 class를 가진 div 만듦 */
.box {
  display: flex;
}

.left-box {
  width: 200px;
  height: 500px;
  background-color: cornflowerblue;
}

.right-box {
  width: 1000px;
  height: 500px;
  background-color: coral;
}

.footer {
  height: 200px;
  background-color: lightgreen;
}