* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
}

header, footer {
  padding: 30px 0;
  color: #fff;
  background-color: darkblue;
}

.back-img {
  height: 600px;
  background-image: url('./images/눈.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto;
}

.box-list div {
  width: 30%;
  height: 300px;
  border: 1px solid darkblue;
}

/* 권장 breakpoint */
/* *1200px / 992px / *768px / 576px */
/* bootstrap 라이브러리가 권장하는 breakpoint */
/* 1200px 이상 : Desktop(D 또는 L) */
/* 1200px 미만 768px : 태블릿(T 또는 M) */
/* 768px 미만 : 모바일 (M 또는 s) */
@media screen and (max-width: 1200px) {
  header, footer {
    padding: 25px 0;
    background-color: skyblue;
  }

  .back-img {
    height: 400px;
    background-image: url('./images/스누피칭구들.jpeg');
    background-position: center top;
  }
}

@media screen and (max-width: 768px) {
  header, footer {
    padding: 15px 0;
    background-color: darkblue;
  }

  .back-img {
    background-image: url('./images/Disney\ Castle2.jpg');
  }

  .box-list {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  
  .box-list div {
    width: 90%;
    height: 150px;
    margin-top: 20px;
    border: 1px solid purple;
  }

  .box-list div:first-child {
    margin-top: 0;
  }
}