@font-face {
  font-family: Orbitron;
  src: url('./fonts/Orbitron-Regular.eot');
  src: url('./fonts/Orbitron-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: Orbitron, sans-serif;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* 전체화면 배경 class */
.wrapper.morning {
  background-image: url('./images/bg_morning.jpg');
}

.wrapper.afternoon {
  background-image: url('./images/bg_afternoon.jpg');
}

.wrapper.evening {
  background-image: url('./images/bg_evening.jpg');
}

.wrapper.night {
  background-image: url('./images/bg_night.jpg');
}

.global-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 10;
}

.logo img {
  width: 70px;
}

.gnb-list {
  display: flex;
  margin-right: 100px;
}

.gnb-item {
  margin: 0 10px;
}

.gnb-item a {
  font-size: 14px;
}

.gnb-item a::after {
  content: '';
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid #444;
  transform: scaleX(0);
  transition: transform 500ms;
}

.gnb-item a:hover::after {
  transform: scaleX(1);
}

.main-cloud-box .cloud {
  position: absolute;
  top: 0;
  width: 1000px;
}

.main-cloud-box .cloud1 {
  animation-name: cloud1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.main-cloud-box .cloud2 {
  animation-name: cloud2;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}

.main-box {
  display: flex;
  justify-content: space-between;
}

.main-txt {
  margin: 200px 100px;
  z-index: 10;
}

.main-txt p:first-child {
  font-size: 40px;
}

.main-txt p:first-child span {
  font-weight: 700;
}

.main-txt p:last-child {
  font-size: 12px;
}

.phone-box {
  position: relative;
  top: 75px;
  right: 0;
  width: 800px;
  height: 700px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

/* phone background-image 변경 */
.wrapper.morning .phone-box {
  background-image: url('./images/phone_morning.png');
}

.wrapper.afternoon .phone-box {
  background-image: url('./images/phone_afternoon.png');
}

.wrapper.evening .phone-box {
  background-image: url('./images/phone_evening.png');
}

.wrapper.night .phone-box {
  background-image: url('./images/phone_night.png');
}

.phone-cloud-box {
  position: relative;
  top: 87px;
  left: 117px;
  width: 472px;
  height: 266px;
  overflow: hidden;
}

.phone-cloud-box .cloud {
  position: absolute;
  top: 20px;
  width: 300px;
}

.phone-cloud-box .cloud1 {
  animation-name: cloud1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.phone-cloud-box .cloud2 {
  animation-name: cloud2-1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.phone-box span {
  position: absolute;
  top: 170px;
  left: 170px;
  font-size: 50px;
  font-weight: 700;
}

.btn-box {
  position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
}

.btn-box button {
  margin: 5px;
  padding: 5px 100px;
  border: none;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  transition: 300ms ease-in-out;
}

.btn-box button:hover {
  color: #fff;
  background-color: #000;
}

.btn-box button.on {
  color: #fff;
  background-color: #000;
}

/* .wrapper에 night class가 있을 때 화면 */
.wrapper.night .gnb-item a {
  color: #fff;
}

.wrapper.night .gnb-item a::after {
  border-bottom-color: #fff;
}

.wrapper.night .main-txt p {
  color: #999;
}

.wrapper.night .main-txt span {
  color: #fff;
}

.wrapper.night .phone-box span {
  color: #fff;
}

@keyframes cloud1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cloud2-1 {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(100%);
  }
}